.testimonials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
  }
  
  .testimonial {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    color: #fff;
    text-align: left;
  }
  
  .testimonial img{
    position: relative;
    height: 90px;
    width: 90px;
    
    left:200px;
    bottom:50px;

  }
  .testih2{
    text-align: center;
  }

  .profilename{
    position: relative;
    color: white;
    bottom: 140px;
    left:150px;
  }

  .profiledes{
    color: #3D7196;
    position: relative;
    left: 90px;
    bottom: 150px;
  }
  
  .testimonial blockquote {
    display: block;
    border-radius: 386px;
    position: relative;
    background-color: #3D7196;
    padding: 25px 50px 30px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
  }

  
  .testimonial blockquote:before,
  .testimonial blockquote:after {
    content: "\201C";
    font-family: 'FontAwesome';
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
  }
  
  .testimonial blockquote:before {
    top: 25px;
    left: 20px;
  }
  
  .testimonial blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 0;
  }
  
  .testimonial .author {
    position: absolute;
    bottom: 45px;
    padding: 0 10px 0 120px;
    margin: 0;
    text-transform: uppercase;
    color:#3D7196;
    transform: translateY(50%);
  }
  
  .testimonial .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
  }
  
  .testimonial .author h5 span {
    font-weight: 400;
    text-transform: none;
    padding-left: 5px;
  }
  