.FooterContainer{
    background-color: #3D7196;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.icons{
    color: white;
    font-size: 2rem;
    margin: 0.5rem;
}
.icons img{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
}

.footerlinks{
    color: white;
    margin: 0.5rem;
    font-size: smaller;
    display: flex;
}

.underlinelinks{
    text-decoration: underline;
    display: flex;
    /* Make the elements in row */
    flex-direction: column;
    padding-right: 80px;
}
.underlinelinks a{
    color: #F2F2F2;
    padding-bottom: 10px;
}

.nonunderlinelinks{

    text-decoration: none;
    display: flex;
    /* Make the elements in row */
    flex-direction: column;
}
.nonunderlinelinks a {
    color: #F2F2F2;
    text-decoration: none;
    padding-bottom: 10px;
    
}

